body {
    background-color: rgb(240, 243, 220);
    font: normal 20pt Arial;
    text-align: center;
    color: rgb(17, 19, 16);
}

header{
    color: cornsilk;
    text-align: center;
    font: italic 100pt;

}

section{
    background-color: rgb(110, 155, 223);
    border-radius: 10px;
    padding: 15px;
    width: 1000px;
    margin: auto;
    font: menu  arial 200px ;
    color: black;
    box-shadow:3px 3px 10px rgba(29, 47, 47, 0.568);

}

footer{
    color: darkslategrey;
    text-align: center;
    font-style: italic;


}

